<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-btn i {
    display: inline !important;
    margin-right: 0.5rem;
  }
  .search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }
</style>

<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-link" href="/listings"><b>Explore</b></a>
        </div>
        <div class="navbar-nav ms-auto" >
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-input" type="search" placeholder="Search destinations">
            <button class="btn search-btn" type="submit">
              <i class="fa-solid fa-magnifying-glass-location"></i>Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
          <% if(!currUser) { %>
            <a class="nav-link signup" href="/signup"><b>Sign up</b></a>
            <a class="nav-link login" href="/login"><b>Log in</b></a>
          <% } %>
          <% if(currUser) { %>
            <a class="nav-link logout" href="/logout">Log out</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>